@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');
  }
  
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400&display=swap');
  }